{% extends 'base.html' %}

{% block title %}
    Welcome to FlaskBlog
{% endblock %}

{% block content %}
    <h1>Welcome to FlaskBlog</h1>
    {% for post in posts %}
        <a href="{{ url_for('post', post_id=post['id']) }}">
            <h2>{{ post['title'] }}</h2>
        </a>
        <span class="badge badge-primary">{{ post['created'] }}</span>
        <!-- Edit link for each post -->
        <a href="{{ url_for('edit', id=post['id']) }}">
            <span class="badge badge-warning">Edit</span>
        </a>
        <hr>
    {% endfor %}
{% endblock %}

